<img src="../assets/duckhunt.png" class="title-image">

<div class ="game" >
  <iframe src="https://i.simmer.io/@fergusonfinn/duck-hunt" style="width:720px;height:450px"></iframe>
</div>

<mat-grid-list cols="6" rowHeight="470" class="article-section">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <img src="../assets/screenshot.png" class="article-section-image">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Executive Summary</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
    
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat rhoncus consequat. Cras vitae 
          iaculis ligula, commodo commodo purus. Curabitur consectetur velit hendrerit leo congue vehicula. Nulla 
          condimentum congue ullamcorper. Fusce tristique et justo ac egestas. Vivamus massa eros, congue sit amet 
          nisl ut, accumsan finibus ligula. Quisque nec neque a purus tempus luctus et vel turpis. Vestibulum at felis 
          tincidunt tellus finibus viverra. Aenean laoreet, eros nec faucibus cursus, sem velit lobortis lacus, in 
          pulvinar massa lorem id nulla. Nulla lorem nulla, auctor id suscipit id, faucibus ac ex.
    
          Suspendisse at ipsum eget enim maximus faucibus. Curabitur id urna velit. Orci varius natoque penatibus et 
          magnis dis parturient montes, nascetur ridiculus mus. Nunc sit amet rhoncus mi. Nam rutrum dui arcu, ut aliquam 
          lacus maximus a. Suspendisse pretium eros nisi, ut pulvinar dolor malesuada a. Proin eget augue sollicitudin, 
          dignissim ex fermentum, rutrum ligula. Praesent auctor ut neque ullamcorper rutrum. Integer sem lectus, 
          sollicitudin id ullamcorper ut, aliquam at nunc. Praesent in purus consectetur, suscipit tellus quis, lacinia 
          velit. Duis feugiat lacus vitae eros placerat convallis. Pellentesque vestibulum volutpat sem id mattis. 
          Pellentesque suscipit commodo dolor mollis molestie. Nam pharetra pretium mattis. Proin blandit nisl felis, 
          id vehicula massa fringilla aliquet.
    
          Phasellus dapibus maximus leo et egestas. Suspendisse ex mauris, auctor eu lacinia nec, ullamcorper vel ex. 
          Mauris aliquet urna vitae sapien facilisis, sed ultricies ex congue. Donec hendrerit id tortor eu volutpat. 
          In suscipit est nec molestie congue. Nullam congue imperdiet neque, a imperdiet erat lacinia non. Curabitur
          molestie vitae augue eu ultricies. Quisque scelerisque dolor vitae aliquet scelerisque. Vestibulum convallis 
          ut quam at lobortis. Integer et gravida velit, sed viverra libero.
    
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="470" class="article-section">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <img src="../assets/screenshot.png" class="article-section-image">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Navigational Map</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
    
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat rhoncus consequat. Cras vitae 
          iaculis ligula, commodo commodo purus. Curabitur consectetur velit hendrerit leo congue vehicula. Nulla 
          condimentum congue ullamcorper. Fusce tristique et justo ac egestas. Vivamus massa eros, congue sit amet 
          nisl ut, accumsan finibus ligula. Quisque nec neque a purus tempus luctus et vel turpis. Vestibulum at felis 
          tincidunt tellus finibus viverra. Aenean laoreet, eros nec faucibus cursus, sem velit lobortis lacus, in 
          pulvinar massa lorem id nulla. Nulla lorem nulla, auctor id suscipit id, faucibus ac ex.
    
          Suspendisse at ipsum eget enim maximus faucibus. Curabitur id urna velit. Orci varius natoque penatibus et 
          magnis dis parturient montes, nascetur ridiculus mus. Nunc sit amet rhoncus mi. Nam rutrum dui arcu, ut aliquam 
          lacus maximus a. Suspendisse pretium eros nisi, ut pulvinar dolor malesuada a. Proin eget augue sollicitudin, 
          dignissim ex fermentum, rutrum ligula. Praesent auctor ut neque ullamcorper rutrum. Integer sem lectus, 
          sollicitudin id ullamcorper ut, aliquam at nunc. Praesent in purus consectetur, suscipit tellus quis, lacinia 
          velit. Duis feugiat lacus vitae eros placerat convallis. Pellentesque vestibulum volutpat sem id mattis. 
          Pellentesque suscipit commodo dolor mollis molestie. Nam pharetra pretium mattis. Proin blandit nisl felis, 
          id vehicula massa fringilla aliquet.
    
          Phasellus dapibus maximus leo et egestas. Suspendisse ex mauris, auctor eu lacinia nec, ullamcorper vel ex. 
          Mauris aliquet urna vitae sapien facilisis, sed ultricies ex congue. Donec hendrerit id tortor eu volutpat. 
          In suscipit est nec molestie congue. Nullam congue imperdiet neque, a imperdiet erat lacinia non. Curabitur
          molestie vitae augue eu ultricies. Quisque scelerisque dolor vitae aliquet scelerisque. Vestibulum convallis 
          ut quam at lobortis. Integer et gravida velit, sed viverra libero.
    
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="470" class="article-section">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <img src="../assets/screenshot.png" class="article-section-image">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Design Principals</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
    
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat rhoncus consequat. Cras vitae 
          iaculis ligula, commodo commodo purus. Curabitur consectetur velit hendrerit leo congue vehicula. Nulla 
          condimentum congue ullamcorper. Fusce tristique et justo ac egestas. Vivamus massa eros, congue sit amet 
          nisl ut, accumsan finibus ligula. Quisque nec neque a purus tempus luctus et vel turpis. Vestibulum at felis 
          tincidunt tellus finibus viverra. Aenean laoreet, eros nec faucibus cursus, sem velit lobortis lacus, in 
          pulvinar massa lorem id nulla. Nulla lorem nulla, auctor id suscipit id, faucibus ac ex.
    
          Suspendisse at ipsum eget enim maximus faucibus. Curabitur id urna velit. Orci varius natoque penatibus et 
          magnis dis parturient montes, nascetur ridiculus mus. Nunc sit amet rhoncus mi. Nam rutrum dui arcu, ut aliquam 
          lacus maximus a. Suspendisse pretium eros nisi, ut pulvinar dolor malesuada a. Proin eget augue sollicitudin, 
          dignissim ex fermentum, rutrum ligula. Praesent auctor ut neque ullamcorper rutrum. Integer sem lectus, 
          sollicitudin id ullamcorper ut, aliquam at nunc. Praesent in purus consectetur, suscipit tellus quis, lacinia 
          velit. Duis feugiat lacus vitae eros placerat convallis. Pellentesque vestibulum volutpat sem id mattis. 
          Pellentesque suscipit commodo dolor mollis molestie. Nam pharetra pretium mattis. Proin blandit nisl felis, 
          id vehicula massa fringilla aliquet.
    
          Phasellus dapibus maximus leo et egestas. Suspendisse ex mauris, auctor eu lacinia nec, ullamcorper vel ex. 
          Mauris aliquet urna vitae sapien facilisis, sed ultricies ex congue. Donec hendrerit id tortor eu volutpat. 
          In suscipit est nec molestie congue. Nullam congue imperdiet neque, a imperdiet erat lacinia non. Curabitur
          molestie vitae augue eu ultricies. Quisque scelerisque dolor vitae aliquet scelerisque. Vestibulum convallis 
          ut quam at lobortis. Integer et gravida velit, sed viverra libero.
    
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="470" class="article-section">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <img src="../assets/screenshot.png" class="article-section-image">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Heuristic Evaluation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
    
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat rhoncus consequat. Cras vitae 
          iaculis ligula, commodo commodo purus. Curabitur consectetur velit hendrerit leo congue vehicula. Nulla 
          condimentum congue ullamcorper. Fusce tristique et justo ac egestas. Vivamus massa eros, congue sit amet 
          nisl ut, accumsan finibus ligula. Quisque nec neque a purus tempus luctus et vel turpis. Vestibulum at felis 
          tincidunt tellus finibus viverra. Aenean laoreet, eros nec faucibus cursus, sem velit lobortis lacus, in 
          pulvinar massa lorem id nulla. Nulla lorem nulla, auctor id suscipit id, faucibus ac ex.
    
          Suspendisse at ipsum eget enim maximus faucibus. Curabitur id urna velit. Orci varius natoque penatibus et 
          magnis dis parturient montes, nascetur ridiculus mus. Nunc sit amet rhoncus mi. Nam rutrum dui arcu, ut aliquam 
          lacus maximus a. Suspendisse pretium eros nisi, ut pulvinar dolor malesuada a. Proin eget augue sollicitudin, 
          dignissim ex fermentum, rutrum ligula. Praesent auctor ut neque ullamcorper rutrum. Integer sem lectus, 
          sollicitudin id ullamcorper ut, aliquam at nunc. Praesent in purus consectetur, suscipit tellus quis, lacinia 
          velit. Duis feugiat lacus vitae eros placerat convallis. Pellentesque vestibulum volutpat sem id mattis. 
          Pellentesque suscipit commodo dolor mollis molestie. Nam pharetra pretium mattis. Proin blandit nisl felis, 
          id vehicula massa fringilla aliquet.
    
          Phasellus dapibus maximus leo et egestas. Suspendisse ex mauris, auctor eu lacinia nec, ullamcorper vel ex. 
          Mauris aliquet urna vitae sapien facilisis, sed ultricies ex congue. Donec hendrerit id tortor eu volutpat. 
          In suscipit est nec molestie congue. Nullam congue imperdiet neque, a imperdiet erat lacinia non. Curabitur
          molestie vitae augue eu ultricies. Quisque scelerisque dolor vitae aliquet scelerisque. Vestibulum convallis 
          ut quam at lobortis. Integer et gravida velit, sed viverra libero.
    
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="470" class="article-section">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <img src="../assets/screenshot.png" class="article-section-image">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Recommendations</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
    
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat rhoncus consequat. Cras vitae 
          iaculis ligula, commodo commodo purus. Curabitur consectetur velit hendrerit leo congue vehicula. Nulla 
          condimentum congue ullamcorper. Fusce tristique et justo ac egestas. Vivamus massa eros, congue sit amet 
          nisl ut, accumsan finibus ligula. Quisque nec neque a purus tempus luctus et vel turpis. Vestibulum at felis 
          tincidunt tellus finibus viverra. Aenean laoreet, eros nec faucibus cursus, sem velit lobortis lacus, in 
          pulvinar massa lorem id nulla. Nulla lorem nulla, auctor id suscipit id, faucibus ac ex.
    
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>